/*---slider---*/
.cauousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    background-size: cover;
}
.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.5 ;
}
.carousel-caption{
    bottom: 150px;
    padding-left: 100px;
    padding-right: 100px;
}
.carousel-caption h5{
    font-size: 50px;
    
}

.foot{

   font-size: 20px;
   background-color: black;
   padding-top: 70px;
   padding-bottom: 70px;
   
}

.fa-facebook-square{
   color: gray;
       

}
.fa-whatsapp{
   color: gray;
}
.fa-instagram{
   color: gray;

}
.fa-twitter{
    color: gray;
 
 }
.icon-foot{
   display: flex;
   padding: 0 40%;
}


nav ul{
   display:flex;
   padding: 0 20%;
}

nav li{
   list-style: none;
   margin-right: 20px;
   padding: 0px 10px;
   
}
nav li:hover{
   background-color: rgb(228, 225, 225);
}

nav li a{
   text-decoration: none;
   color:rgb(165, 162, 162);
   font-size: 15px

}
